<footer class="flex flex-col justify-center items-center border-t p-10 bg-white/50 space-y-1">
    <span class="text-sm">&copy; 2024. All rights reserved.</span>
    <p class="text-sm">Fonts by <a href="https://vercel.com/font" rel="noopener noreferrer" class="text-blue-600 font-semibold">Vercel</a> and Icons by <a href="https://lucide.dev/icons" class="text-blue-600 font-semibold">Lucide Icons</a>.</p>
    <p class="text-sm">Inspired by <a href="https://github.com/aakashns/jovian-careers-website-v2" rel="noopener noreferrer" class="text-blue-600 font-semibold">this</a> project.</p>
    <p class="text-sm">Hero image by <a href="https://unsplash.com/photos/silver-imac-with-keyboard-and-trackpad-inside-room-KE0nC8-58MQ" rel="noopener noreferrer" class="text-blue-600 font-semibold">Carl Heyerdahl</a></p>
</footer>